{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    [
      "import",
      {
        "style": true,
        "libraryDirectory": "lib", // default: lib 支持 ''
        "libraryName": "antd",
        "camel2DashComponentName": true // default: true 
      }
    ],
    [
      "react-hot-loader/babel"
    ]
  ]
}